.cart{
    width: 29%;
    background: #fff;
    padding: 50px;
    margin: 34px auto;
    border-radius: 30px;
    position: relative;
    box-shadow: 0px 1px 15px rgb(0 0 0 / 10%);;
}




#inner-product{
    width: 45%;
    margin-top: auto;
    margin-left: auto;
    
}

.title{
    font-family: 'Fredoka One', cursive;
    margin-top: 26px !important;
    text-align: center;
    font-size: 45px !important;
    margin-left: -1px !important;
    color: #12433d;
    position: relative;
}

@media(max-width:921px){
    h1.titulo {
      font-size: 22px !important;
    }
} 


.btn{
    background: #12433d !important;
    text-align: center;
    color: #fff !important;
    padding: 12px;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
}

@media(max-width:1000px){
    .btn {
     width: 91px !important;
    }
} 

.form_items{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}



@media (max-width:1000px){
.cart{
    width: 75%;
}
}